body{
    font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color:black;
    padding-bottom:1000px;
    padding-left:230px;
}

.container{
    display:flex;
    flex-direction:row;
    height:100vh;
}