.right-menu{
    display:flex;
    /* background-color: blue; */
    display:inline-block;
    margin-left:60px;
    color:white;
    width:285px;
}
.right-section{
    display:inline-block;
    /* background-color: green; */
    margin-top:16px;
    margin-left:5px;
    width:250px;
    height:420px;
}

.account{
    display:flex;
    flex-direction:row;
}

.account-id{
    flex-direction: column;
    margin-left:8px;
    margin-top:7px;
}

.account-id p{
    font-size:11px;
    padding:0px;
    margin:0px;
}

.account button{
    background-color:black;
    font-size:9.5px;
    padding:0px;
    margin:0px;
    margin-left:61px;
    margin-top:15px;
    height:18px;
    color:rgb(2, 119, 197);
    border:none;
}

.account button:hover{
    color:white;
    cursor:pointer;
}

.right-section img{
    height:35px;
    width:35px;
    margin-left:5px;
    margin-top:5px;
    border-radius:17px;
}

.right-section img:hover{
    cursor:pointer;
}

.Suggestions{
    font-size:12px;
    margin-top:18px;
    margin-bottom:8px;
    margin-left:2px;
    /* background-color:red; */
}

.Suggestions p{
    color:white;
    display:inline-block;
    margin:0px;
}
.Suggestions button{
    color:white;
    display:inline-block;
    font-size:10px;
    margin:0px;
    margin-left:95px;
    border:none;
    background-color:black;
}

.Suggestions button:hover{
    color:rgba(255, 255, 255, 0.363);
    cursor:pointer;
}

.Suggested-accounts{
    display:flex;
    flex-direction:column;
    gap:8px;
    justify-content: space-between;
    margin-left:2px;

}

.Suggested-accounts .account button{
    color:rgb(0 , 149 , 246);
    margin-left:2px;
    font-size:9.5px;
    transition: color 0.2s;
}

.Suggested-accounts .account button:hover{
    color:white;
    cursor:pointer;
}

.Suggested-accounts .profile{
    display:flex;
    flex-direction:row;
    width:200px;
}

.Suggested-accounts .profile img:hover{
    cursor:pointer;
}

.Basic-info{
    /* background-color:red; */
    margin-top:36px;
    margin-left:2px;
}

.Basic-info p{
    color:rgba(255, 255, 255, 0.315);
    font-size:10px;
}

.Basic-info p:hover{
    cursor:pointer;
}

.Rights{
    margin-left:2px;
    margin-top:18px;
}

.Rights p{
    color:rgba(255, 255, 255, 0.315);
    font-size:10px;
}
